---
import type { CollectionEntry } from 'astro:content'
import BlogCard from '../components/blogcard.astro'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<div class="px-6 py-10 bg-gray-950">
  <div class="gap-6 grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 xl:grid-cols-4">
    {posts.map((post) => <BlogCard post={post} />)}
  </div>
</div>
