---
import type { CollectionEntry } from 'astro:content'
import { getEntries } from 'astro:content'

export interface Props {
  categories: { collection: 'category'; id: string }[]
}

const { categories } = Astro.props as Props
const cats = (await getEntries(categories)) as CollectionEntry<'category'>[]
---

{
  categories && (
    <div class="pb-2 flex flex-row flex-wrap gap-2 items-start">
      {cats.map((category) => (
        <a
          href={`${`${import.meta.env.BASE_URL}`}category/${encodeURIComponent(category.id)}/`}
          class="text-xs text-white tracking-tight font-medium px-3 py-1 rounded bg-purple-600 inline-block uppercase hover:bg-pink-600"
        >
          {category.data.title}
          <span class="sr-only">category</span>
        </a>
      ))}
    </div>
  )
}
