---
import { Image } from 'astro:assets'
import { DefaultImage } from '../config'

export interface Props {
  title: string
  description?: string
  image?: ImageMetadata
}

const { title, description, image } = Astro.props
---

<div class="mx-auto h-96 w-full max-w-screen-xl relative md:my-4">
  <div
    class="h-full w-full bottom-0 left-0 absolute z-10 from-gray-700 bg-gradient-to-t xl:rounded-lg"
  >
  </div>
  <Image
    src={image || DefaultImage}
    alt={title}
    class="h-full w-full left-0 top-0 absolute z-0 object-cover"
  />
  <div class="p-4 bottom-0 left-0 absolute z-20">
    <h2 class="text-4xl text-white leading-tight font-bold">{title}</h2>
    <h2 class="text-xl text-purple-300 font-medium italic">{description}</h2>
    <slot />
  </div>
</div>
