---
export interface Props {
  tags?: string[]
}

const { tags } = Astro.props
---

{
  tags && (
    <div class="mt-2 flex flex-row flex-wrap gap-4 items-start lg:gap-2">
      {tags.map((tag) => (
        <a
          href={`${`${import.meta.env.BASE_URL}`}tag/${encodeURIComponent(tag)}/`}
          class="text-xs text-purple-200 font-semibold px-2 py-1 rounded bg-purple-900 inline-block hover:bg-pink-900 hover:text-white transition-colors duration-200"
        >
          #{tag}
        </a>
      ))}
    </div>
  )
}
