---
export interface Props {
  tags?: string[]
}

const { tags } = Astro.props
---

{
  tags && (
    <div class="mt-2 flex flex-row flex-wrap gap-4 items-start lg:gap-2">
      {tags.map((tag) => (
        <a
          href={`${`${import.meta.env.BASE_URL}`}tag/${encodeURIComponent(tag)}/`}
          class="text-xs text-purple-900 font-semibold px-2 py-2 rounded bg-pink-100 inline-block hover:text-black lg:py-1 hover:bg-purple-300"
        >
          #{tag}
        </a>
      ))}
    </div>
  )
}
