---
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  frontmatter: CollectionEntry<'page'>['data']
}

const { frontmatter } = Astro.props
---

<Base {frontmatter}>
  <main class="bg-gray-950" transition:animate="fade">
    <article class="post">
      <header>
        <PageHero
          title={frontmatter.title!}
          description={frontmatter.description}
          image={frontmatter.image}
        />
      </header>
      <section
        class="mx-auto my-8 px-4 max-w-screen-lg prose prose-invert lg:px-0 lg:prose-xl"
        style="font-family: 'Noto Serif', serif;"
      >
        <slot />
      </section>
    </article>
  </main>
</Base>
